*

!src/**
!package.json
!package-lock.json
!yarn.lock
!tsconfig.json
!.eslintignore
!.eslintrc.js
!.markdownlint.yaml
!.markdownlintignore
!jest.config.ts
!.env

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
